<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>description</key>
		<string>A tool to display length &amp; angle of bezier handles in a glyph</string>
		<key>repository</key>
		<string>johannesbreyer/HandleLength</string>
	</dict>
	<key>developer</key>
	<string>Gustavo Ferreira, Johannes Breyer</string>
	<key>developerURL</key>
	<string>http://hipertipo.com/</string>
	<key>html</key>
	<integer>0</integer>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>MeasureHandlesTool.py</string>
	<key>name</key>
	<string>Measure Handles Tool</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>5</string>
	<key>timeStamp</key>
	<real>1444043585.295007</real>
	<key>version</key>
	<string>0.1</string>
</dict>
</plist>
